@import "../styles.css";

.wd-bg-dark-gray {
    background-color: darkgray;
}
.wd-fg-color-white {
    color: white;
}
.wd-rounded-corners-all-around {
    border-radius: 50px;
}
.wd-border-none {
    border: none;
}
::placeholder {
    color:  rgb(110, 118, 125);
}
.wd-fg-color-rgb-110-118-125 {
    color: rgb(110, 118, 125);
}
.wd-width-90-percent {
    width: 90%;
}
.wd-border-radius-25px {
    border-radius: 25px;
}
.wd-font-size-40px {
    font-size: 40px;
}
.wd-bg-color-rgb-47-51-54 {
    background-color: rgb(47, 51, 54);
}
.wd-padding-16px {
    padding: 16px;
}
.wd-border-bottom-29-161-242 {
    border-bottom: rgb(29, 160, 242);
}