@import "../styles.css";

.wd-post {
    border-left-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-width: 1px;
    padding: 12px;
    border-color: rgb(222, 226, 230);
    display: flex;
    justify-content: space-between;
}
.wd-post-topic {
    font-size: 13px;
    color: rgb(110, 118, 125);
}
.wd-post-author-name {
    font-size: 13px;
    font-weight: bold;
}
.wd-post-time {
    font-size: 13px;
    font-weight: normal;
    color: rgb(110, 118, 125);
}
.wd-post-tuit-count {
    font-size: 13px;
    color: rgb(110, 118, 125);
}
.wd-post-image {
    width: 100px;
    height: 100px;
    border-radius: 15px;
}
