.wd-border-style-left-solid {
    border-left-style: solid;
}
.wd-border-style-right-solid {
    border-right-style: solid;
}
.wd-border-top-style-solid{
    border-top-style: solid;
}
.wd-border-bottom-style-solid{
    border-bottom-style: solid;
}
.wd-padding-left-12px {
    padding-left: 12px;
}
.wd-padding-right-12px {
    padding-right: 12px;
}
.wd-padding-top-12px {
    padding-top: 12px;
}
.wd-padding-bottom-12px {
    padding-bottom: 12px;
}
.wd-border-width-1-px {
    border-width: 1px;
}
.wd-margin-0 {
    margin: 0;
}
.wd-display-flex {
    display: flex;
}
.wd-flex-direction-row {
    flex-direction: row;
}
.wd-flex-direction-column {
    flex-direction: column;
}
.wd-box-sizing-border-box {
    box-sizing: border-box;
}
.wd-height-100-percent {
    height: 100%;
}
.wd-width-100-percent {
    width: 100%;
}
.wd-bg-color-black {
    background-color: black;
}
.wd-border-color-rgb-47-51-54 {
    border-color: rgb(47, 51, 54);
}
.wd-fg-color-white {
    color: white;
}
.wd-fg-color-gray {
    color: gray;
}
.wd-margin-top-12px {
    margin-top: 12px;
}
.wd-margin-bottom-12px {
    margin-bottom: 12px;
}
.wd-margin-left-12px {
    margin-left: 12px;
}
.wd-margin-left-16px {
    margin-left: 16px;
}
.wd-margin-right-16px {
    margin-right: 16px;
}
.wd-font-size-20px {
    font-size: 20px;
}
.wd-font-size-13px {
    font-size: 13px;
}
.wd-font-size-15px {
    font-size: 15px;
}
.wd-round-corners-circle {
    border-radius: 50%;
}
.wd-img-48px {
    width: 48px;
    height: 48px;
}
.wd-max-width-506px {
    max-width: 506px;
}
.wd-round-corners-top-15px {
    border-radius: 15px 15px 0 0;
}
.wd-round-corners-15px {
    border-radius: 15px 15px 15px 15px;
}
.wd-text-decoration-none {
    text-decoration: none;
}
.wd-fg-color-rgb-228-140-163 {
    color: rgb(228, 140, 163);
}
.wd-justify-content-space-between {
    justify-content: space-between;
}
.wd-fg-color-rgb-29-160-242 {
    color: rgb(29, 160, 242)
}