.wd-img-48px {
    width: 48px;
    height: 48px;
}

.wd-max-width-600px {
    max-width: 600px;
}

.wd-font-weight-bold {
    font-weight: bold;
}

.wd-padding-top-12px {
    padding-top: 12px;
}

.wd-padding-left-10px {
    padding-left: 10px;
}